/* testing css dev */

/* scrollbar  */
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(212, 212, 212);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #969696;
}

.get-fixed-dev {
    opacity: 0;
}

@media only screen and (min-width: 1879px) {

    /* Gaya khusus untuk layar lebih dari 1920px */
    #row-1-dev .card-header {
        overflow-x: auto;
    }
}


#main-content-dev #row-1-dev .card-footer {
    overflow-x: auto;
}

#main-content-dev #row-1-dev .card-footer .d-flex {
    min-width: 400px;
}

.card-header .select2-selection__placeholder {
    line-height: 29px !important;
}

.card-header .select2-selection__rendered {
    line-height: 27px !important;
}

.card-header .select2-container .select2-selection--single {
    height: 31px !important;
}

.card-header .select2 {
    margin: 3px;
    margin-top: 4px;
}

.card-header .select2 .select2-selection__rendered {
    font-size: 14px;
}